@font-face {
  font-family: "Telma";
  font-style: normal;
  font-display: swap;
  font-weight: 300 900;
  src: url(./Telma-Variable.woff2) format("woff2"), url(./Telma-Variable.woff) format("woff");
}
